{% block title %}Organiser une sortie{% endblock %}

{% block body %}

    <h1>Que voulez-vous faire ?</h1>
    {{ form_start(sortieFormView) }}
    {{ form_errors(sortieFormView) }}



    {{ form_end(sortieFormView) }}

{% endblock %}
