.navbar-nav {
    margin-left: auto;
}
#sticky {
    position: sticky;
    top: 0px;
}
#sticky2 {
    position: sticky;
    top: 71px;
}

.navbar-toggle {
    z-index:3;
}

.warning:hover{
    color: red;
}
#scroll table {

    height: auto;
    display: block;
}
.position{
    position: absolute;
    bottom:480px;
    left: 350px;

}
#scroll thead{
    display: block;
    width: auto;
    height: auto;
}
#scroll tbody{
    width: auto;
    height: 200px;
    display: inline-block;

    overflow: auto;
}
#scroll td, #scroll tr{
    width: auto;

}

footer.src{


    position: absolute;
    bottom: 0;
    width: 100%; !important;
}


.warning {
    color: red;
}

.publi:hover{
    color:green;
}

.publi {
    color: green;
}

#sortieTable {
    width:800px;
    table-layout:fixed;
}


td {
    word-wrap:break-word;
}

.btn-primary btn{
    color: white;
    background-color: #00487f;
    margin-top: 5px;
}

element.style{
    color: white;
    background-color: #00487f;
    margin-top: 5px;
}

.flex2{
    display: flex;
    align-items: center;
}